body,html{
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

nav.navbar{
  border: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  z-index: 2;

}

.navbar-brand {
  position: absolute;
  margin-top: -45px;
}

#menuz{
  background-color: rgba(0, 0, 0, 0.3);
}

nav li a {
  top: 10px;
  margin-bottom: 10px;
  font-family: 'Great vibes', cursive;
  font-size: 36px;
  color: #d2c462!important;
}

.landingpage{
  position: relative;
  height: 80%;
  width: 100%;
  background-image: url('images/gallery4.jpg');
  background-size:100% 100%;
}

.landingpage:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}



.landingpage h3{
  margin: 0;
  position: absolute;
  color: white;
  font-size: 90px;
  font-family: 'Parisienne', cursive;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.filler{
  position: relative;
  height: auto;
}

.filler h1{

  color: #a78d00;
  font-family: 'Cinzel', serif;

}

.wrapper{
  width: 100%;
}


.menu{
  width: auto;

}
.menu ul li{
  display: inline-block;
  float: left;
  display:list-item;
  list-style-position:outside;
  list-style-type:disc;
  margin: 30px;
}


.menu ul li a{
  font-family: 'Great vibes', cursive;
  font-size: 40px;
  color: black!important;


}
.menu ul li a.active{
  color: #b3a21f!important;
}

.header{
  width: auto;
  float: left;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.content{
  position: relative;
  width: 100%;
  padding-left: 0px;
  display: inline-block;

}




.card{
  width: 20%;
  z-index: 1;

}

.card img{
  width: 100%;
  height: 330px;
}

.card:hover{
  -moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
  z-index: 2;
}

@media only screen and (max-width:600px) {
  .card{
    width: 50%;
  }

  .card img{
    height: 200px;
  }
  .navbar-brand{
    margin-left: -30px;
    margin-top: -35px;
  }
  .navbar-brand img{
    width: 200px;
    height: 140px;
  }
  .landingpage h3{
    font-size: 50px;
  }
  .menu ul li a{
    font-size: 19px;
  }
  .menu ul li{
    margin: 8px;
  }
  .header{
    margin-left: -18px;
  }
  .filler h1{
    font-size: 25px;
  }
  .devider img{
    height: 20px;
    width: 60%;
  }

}



.insta{
  position: relative;
  width: 100%;
  height:auto;
  margin: 35px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.insta h1{

  margin: 0 auto;
}

.footer{
  background-image: url('images/gallery4.jpg');
  background-size:100% ;
  position: relative;
  margin-top: 20px;
  padding: 0px;
}


.footer p{
  font-family: 'Great vibes', cursive;
  font-size: 30px;
  color: #e2c555!important;
}

.footer a{
  padding: 0;
  font-family: 'Great vibes', cursive;
  font-size: 25px;
  color: #e2c555!important;
}
.footerheading{
  padding-top: 20px;
}
.footer:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer i{
  color: #e2c555!important;
  margin-left: 5px;
  margin-right: 5px;
}
@media only screen and (max-width:600px) {
  .footer{
    background-image: url('images/gallery4.jpg');
    background-size:600px 100%;
    position: relative;
    margin-top: 20px;
    padding: 0px;
  }
  .insta h1{
    font-size: 25px;
  }
}
