body,html{
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

nav.navbar{
  border: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  z-index: 2;
}

.navbar-brand {
  position: absolute;
  margin-top: -45px;
}



nav li a {
  top: 10px;
  margin-bottom: 10px;
  font-family: 'Great vibes', cursive;
  font-size: 36px;
  color: #f5d55d!important;
}

.landingpage{
  position: relative;
  height: 70%;
  width: 100%;
  background-image: url('images/gluten2.jpg');
  background-size:100% 100%;
}

.landingpage:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}



.landingpage h3{
  margin: 0;
  position: absolute;
  color: white;
  font-size: 90px;
  font-family: 'Parisienne', cursive;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.cakeintro{
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 300px;
  background-color: lavender;
  margin-bottom: -170px;
  left: 50%;
  transform: translateX(-50%);
}

.cakeintro h1{
  padding-top: 50px;
  font-size: 50px;
  color: #a78d00;
  font-family: 'Great vibes', cursive;
}

.cakemenu{
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("images/download.jpg");
  background-size:100% 100%;
  padding: 40px;
}



.div2{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}
.div2 h3{
  font-size: 230%;
  font-family: 'Great vibes', cursive;
  color: #b79723!important;
}

.a p{

    font-size: 160%;
    font-family: 'Great vibes', cursive;
    color: white!important;
}

@media only screen and (max-width:600px){
  .cakemenu{
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url("images/download.jpg");
    background-size:600px 100%;
    padding: 40px;
  }
  .navbar-brand{
    margin-left: -30px;
    margin-top: -35px;
  }
  .navbar-brand img{
    width: 200px;
    height: 140px;
  }
  .landingpage h3{
    font-size: 60px;
  }
}
@media only screen and (max-width:600px){

  .div2 h3{
    font-size: 170%;
    font-family: 'Great vibes', cursive;
    color: #b79723!important;
  }
}
  @media only screen and (max-width:600px){
    .div2 p{
      font-size: 140%;
      font-family: 'Great vibes', cursive;
      color: white!important;
      margin-bottom: -12px;
      margin-top: -10px;
    }
  }

  @media only screen and (max-width:600px){
    .cakeintro{
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 300px;
      background-color: lavender;
      margin-bottom: -170px;
      left: 50%;
      transform: translateX(-50%);
    }
    .cakeintro h1{
      padding-top: 50px;
      font-size: 40px;
      color: #a78d00;
      font-family: 'Great vibes', cursive;
    }
    .choices a{
      font-family: 'Great vibes', cursive;
      font-size: 30px;
      color: #a78d00!important;

    }

  }

.patisserie{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 300px;
  background-color: lavender;
  margin-bottom: -170px;
  left: 50%;
  transform: translateX(-50%);
}

.patisserie h1{
    padding-top: 50px;
    font-size: 53px;
    color: #a78d00;
    font-family: 'Great vibes', cursive;
}
.choices{
  position: relative;
  height: auto;
  margin-top: 43px;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.choices h3{
  font-family: 'Great vibes', cursive;
  font-size: 48px;
  color: #9c8404!important;

}

.choices p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: #2e2e33!important;

}

.decor{
  position:relative;
  left:50%;
  transform:translateX(-50%);
  background-color:lavender;
  width:100px;
  height:100px;
  border-radius:100px;
  margin-bottom:-100px;
  z-index:-1;
}

.decorc{
  position:relative;
  left:50%;
  transform:translateX(-50%);
  background-color:lavender;
  width:100px;
  height:100px;
  border-radius:100px;
  margin-bottom:-100px;
  z-index:-1;
}

@media only screen and (max-width:600px) {
  .decorc{
    display: none;
  }
  .patisserie h1{
    font-size: 45px;
    padding-top: 30px;
  }

  .devider img{
    margin: 10px;
    margin-bottom: 30px;

  }

  .patisserie{
    width: 200px;
    height: 200px;
  }
  .choices h3{
    font-size: 40px;
  }
  .choices p{
    font-size: 20px;
  }
}

.footer{
  background-image: url('images/gluten2.jpg');
  background-size:100% ;
  position: relative;
  margin-top: 20px;
  padding: 0px;
}


.footer p{
  font-family: 'Great vibes', cursive;
  font-size: 30px;
  color: #e2c555!important;
}

.footer a{
  padding: 0;
  font-family: 'Great vibes', cursive;
  font-size: 25px;
  color: #e2c555!important;
}
.footerheading{
  padding-top: 20px;
}
.footer:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer i{
  color: #e2c555!important;
  margin-left: 5px;
  margin-right: 5px;
}
@media only screen and (max-width:600px) {
  .footer{
    background-image: url('images/gluten2.jpg');
    background-size:600px 100%;
    position: relative;
    margin-top: 20px;
    padding: 0px;
  }
}
